<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="SQLiteConnectionString" connectionString="Data Source=hgyclicklog.sqlite;Version=3;" providerName="SQLiteProvider" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
</configuration>
